<!DOCTYPE html>
<html>
  <head>
    <title>Mutably front-end</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Alegreya|Special+Elite" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/style.css">
    <script src="https://code.jquery.com/jquery-3.2.1.js"></script>
    <script type="text/javascript" src="/script.js"></script>
  </head>
  <body class="container">
    <div class="modal-background closed">
      <div class="modal-window closed">
        <p class="close-modal-button">X</p>
        <h2>Add A Damn Book Here!</h2>
        <div class="create-form">
          <form class="form-elements">
            <input type="text" class="modal-input modal-title" name="title" placeholder="Your Book Here">
            <input type="text" class="modal-input modal-author" name="author" placeholder="Author">
            <input type="text" class="modal-input modal-image-url" name="image" placeholder="Image Link">
            <input type="text" class="modal-input modal-release-date" name="releasedate" placeholder="Release Date">
            <button class="create-button" type="submit">Create</button>
          </form>
        </div>
      </div>
    </div>
    <div class="col-sm-10 col-sm-offset-1">
      <nav class="navbar navbar-default">
        The Reading Rainbow
      </nav>
      <div class="panel panel-default">
        <div class="panel-heading"><span class="header">Pick up a damn book!</span><span class="booklist">List All Books</span><button class="modal-open">Create a book!</button></span></div>
        <div class="alert alert-success alert-dismissable">
          <a href="#" class="close" data-dismiss="alert" aria-label="close"><button class="close-success">&times;</button></a>
          <strong>Success!</strong>
        </div>
        <div class="alert alert-danger fade in">
          <a href="#" class="close" data-dismiss="alert" aria-label="close"><button class ="fade-delete">&times;</button></a>
          <strong>Deleted!</strong>
        </div>
          <ul class="list-group">
            <!-- your resource items here -->
          </ul>
      </div>
    </div>
  </body>
</html>
