/*Custom styles here*/
.modal-background {
  background-color: rgba(0, 0, 0, 0.5);
  height: 100%;
  position: absolute;
  width: 100%;
  z-index: 1;
}

.modal-window {
  background-color: white;
  border-radius: 5px;
  flex-direction: column;
  height: auto;
  left: 30%;
  position: absolute;
  top: 30%;
  width: 50%;
  z-index: 2;
}

.book-image {
  height: 105px;
  width: 130px;
}


.display-modal {
  display: flex;
}

.closed {
  display: none;
}
